.reserveDetail {
  text-align: justify;
  width: 100%;
  margin: 30%;
}

.healthImage {
  text-align: justify;
  /* border: 1rem black; */
  max-width: 100%;
  height: auto;
  /* padding: 0% 0% 0% 5%; */
  padding: auto;
  margin: auto;
}

.healthInfo {
  text-align: justify;
  /* border: 1rem black; */
  width: 100%;
  margin: auto;
  padding: 0% 10% 0% 10%;
}

.healthPrice {
  padding: 10% 30% 0% 30%;
  text-align: center;
  width: 100%;
  margin: auto;
  /* padding: 50%; */
}

.memberInfo {
  padding: 0% 10% 0% 10%;
  text-align: justify;
  width: 100%;
  /* margin: auto; */
  /* padding: auto; */
}
