.appbar {
  position: sticky;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;

  height: 150px;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.appbar1 {
  width: 100%;
  border-bottom: solid #0000a4;
  border-width: 5px;
  font-size: 20px;
  font-weight: 700;
}

.txt {
  text-decoration-line: none;
  color: #0000a4;
  margin: 0 10px 0 10px;
}

.txt:visited {
  color: #0000a4;
}

.txt:hover {
  color: #e93443;
}
