.tr {
}
.th {
  padding: 5px 60px 20px 20px;
  text-align: end;
  /* border-bottom: solid #0000a4; */
}
.td {
  padding: 5px 20px 20px 0;
  text-align: start;
}
.p {
  font-size: 22px;
  align-items: center;
}

.h2 {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: 700;
}
/* "text-center my-4 mb-5" */

.div2 {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 40vw;
  flex-direction: column;
  /* 임시추가 */
  border: double rgb(25, 25, 148) 8px;
  padding: 10px 30px 20px 30px;
}
.div3 {
  display: flex;
  justify-content: center;
}

.table {
  /* border: solid #0000a4 3px; */
  border-radius: 10%;
}
.btndiv {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn1 {
  background-color: rgb(23, 23, 105);
  border-color: black;
  color: white;
  font-size: 15px;
}

.btn2 {
  background-color: rgb(23, 23, 105);
  border-color: black;
  color: white;
  margin-right: 10px;
  font-size: 15px;
}
.btn3 {
  background-color: rgb(23, 23, 105);
  border-color: black;
  color: white;
  font-size: 15px;
}

/* -----11/22 */
/* .text {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textd {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration-color: rgb(3, 48, 129);
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div {
  flex: 1;
  display: flex;
  width: 1000px;
  border-collapse: collapse;
  flex-direction: column;
  align-items: stretch;
} */
