.container {
  padding: 0 0;
}

.main {
  min-height: 100vh;
  display: flex;

  /* width: auto; */
  /* margin: 0 2rem 0 0; */
  /* width: calc((100% - 200px)); */

  /*
  width: calc((100% - 2rem) / 3);
  height: calc((100% - 3rem) / 4);
  */
}

.div0 {
  width: 370px;
  height: 300px;
  padding-left: 30px;
}
/* style={{ width: "auto", height: "300px" }} className="px-3" */

.div1 {
  margin: 50px 0 0 0px;
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.div2 {
  display: flex;
  align-items: center;
  margin-top: 30px;
  /* border-bottom: solid grey; */
  /* border-width: 0.5vh; */
}

.divp {
  margin-right: 30px;
  margin-left: 30px;
  /* margin-right: 100px; */
  /* background-size: 100px 130px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #0100a4;
  border-width: 2px; */
}

/*"mx-5 d-flex flex-direction-column align-items-center justify-content-center"*/

.src {
  width: 350px;
  height: 350px;
  margin-right: 50px;
}
.p {
  font-size: 15px;
  margin-top: 95px;
  /* margin-bottom: 20px; */
  white-space: pre-line;
  line-height: 1.6;
}
.h3 {
  font-weight: 600;
  font-size: 30px;
}
.h4 {
  margin-top: 100px;
  margin-bottom: 15px;
  padding: 2px 10px 2px 10px;
  border-style: double;
  /* font-weight: lighter; */
  background: white;
  color: #0100a4;
  border-color: #0100a4;
  border-width: 5px;
  /* border-radius: 18px; */
}
.divtrainer {
  margin-top: 40px;
  display: flex;

  /* "d-flex mt-5 align-items-center" */
}

.imgtrainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
}
/* 
.img {
  background-size: 100px 130px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #0100a4;
  border-width: 2px;
} */

.imgd {
  margin-right: 10px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: auto;
  height: 100px;
  border-style: solid;
  border-color: #0100a4;
  border-width: 5px;
  display: flex;
  /* margin-left: 10px; */
}

.divprice {
  display: flex;
  align-items: center;
  /* width: 500px; */
}

.btnrsv {
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  border-color: #0100a4;
  color: white;
  background-color: #0100a4;

  margin-top: 10px;
  padding: 5px 0px 5px 0px;
}

.btnrsv:hover {
  background-color: #fff;
  color: #0100a4;
  /* line-height: 2.5; */
  text-align: center;
}

.divspan {
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px gray;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.divspan:hover {
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px gray;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.span1 {
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 17, 100);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.span2 {
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  border: solid black;
  border-width: 1px;
  text-align: center;
}

.span3 {
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 17, 51);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.span4 {
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  border: solid black;
  border-width: 1px;
  text-align: center;
}

.table1 {
  margin-left: 30px;
  border-collapse: separate;
  border-width: 1px;
  height: 140px;
  text-align: right;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0px 1px 5px 1px rgb(8, 8, 70);
}

.th1 {
  /* border-width: 1px; */
  width: 100px;
  border-color: rgb(9, 9, 128);
}

.td1c {
  border-width: 1px;
  border-color: rgb(9, 9, 128);
  text-align: center;
}

.td1 {
  border-width: 1px;
  border-color: rgb(9, 9, 128);
}

.divsp {
  margin-top: 10px;
  text-align: center;
}

.divser1 {
  display: flex;
  align-items: center;
}

.divser11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 10px 20px;
}

.divser111 {
  margin-top: 20px;
}
/*
.btn hover:nth-child(2) {
  background: #0100a4;
  color: white;
}

.btn div:hover:nth-child(2) {
  background: #0100a4;
  color: white;
}

*/
