.container {
  padding: 0 0;
}

.main {
  min-height: 100vh;
  display: flex;
  /* width: auto; */
  /* margin: 0 2rem 0 0; */
  /* width: calc((100% - 200px)); */

  /*
  width: calc((100% - 2rem) / 3);
  height: calc((100% - 3rem) / 4);
  */
}

.div {
  margin: 50px 0 0 0px;
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.div2 {
  display: flex;
  align-items: center;
  /* border-bottom: solid grey; */
  /* border-width: 0.5vh; */
}

.src {
  width: 350px;
  height: 350px;
}
.p {
  font-size: 15px;
  margin-top: 45px;
  /* margin-bottom: 20px; */
  white-space: pre-line;
  line-height: 1.6;
}

.h3 {
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 5px 10px 5px 10px;
  border-style: solid;
  /* font-weight: lighter; */
  background: white;
  color: #0100a4;
}

.img {
  margin-right: 100px;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #0100a4;
  border-width: 2px;
  display: flex;
}

.btnrsv {
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #0100a4;
  color: white;
  margin-top: 12px;
  padding: 5px 0px 5px 0px;
}

.btnrsv:hover {
  /* line-height: 2.5; */
  border-color: #0100a4;
  background-color: #fff;
  color: black;
}

.btn {
  cursor: pointer;
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
  color: black;
  margin-right: 20px;
}

.btn:hover {
  background: #0100a4;
  color: white;
  text-align: center;
}

.table1 {
  border-width: 1px;
  height: 150px;
  text-align: right;
  /* border: solid grey; */
}

.table2 {
  border-width: 1px;
  text-align: right;

  /* border: solid grey; */
}
.table3 {
  margin-top: 5px;
  border-width: 1px;
  text-align: right;
  /* border: solid grey; */
}

.th1 {
  border-width: 1px;
  width: 100px;
}

.th2 {
  width: 250px;
  border-width: 1px;
  text-align: right;
}
.th3 {
  width: 200px;
  border-width: 1px;
  text-align: right;
}
.td1c {
  border-width: 1px;
  text-align: center;
}

.td1 {
  border-width: 1px;
}
.td2 {
  border-width: 1px;
}
.td3 {
  border-width: 1px;
}

.span {
  text-align: center;
}

/*
.btn hover:nth-child(2) {
  background: #0100a4;
  color: white;
}

.btn div:hover:nth-child(2) {
  background: #0100a4;
  color: white;
}

*/
