.p {
  font-size: 22px;
  align-items: center;
}

.main {
  margin-top: 30px;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div {
  min-height: 100vh;
  margin: 10px 0 0 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  border-collapse: collapse;
}

.text {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  width: 60px;
  height: 25px;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 50px;
  border-style: double;
  border-width: 4.5px;
  background: white;
  color: #0100a4;
  border-color: #0100a4;
  font-size: 10px;
}

.detailbtn {
  width: 75px;
  height: 25px;
  /* margin-top: 5px;
  margin-left: 20px; */
  border-radius: 8px;
  /* border-style: double; */
  /* border-width: 4.5px; */
  background: #0100a4;
  color: white;
  /* border-color: #0100a4; */
  font-size: 0.8rem;
}

/*
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
*/
